In [7]:
import numpy as np 
import pandas as pd 
import os
import warnings
warnings.filterwarnings('ignore')

In [8]:
data = pd.read_csv('Used_bikes.csv')

In [9]:
data.head()

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha

In [10]:
data.brand.unique()

array(['TVS', 'Royal Enfield', 'Triumph', 'Yamaha', 'Honda', 'Hero',
       'Bajaj', 'Suzuki', 'Benelli', 'KTM', 'Mahindra', 'Kawasaki',
       'Ducati', 'Hyosung', 'Harley-Davidson', 'Jawa', 'BMW', 'Indian',
       'Rajdoot', 'LML', 'Yezdi', 'MV', 'Ideal'], dtype=object)

In [11]:
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
import pickle
from sklearn import preprocessing

In [12]:
le = preprocessing.LabelEncoder()

In [13]:
le.fit(data["owner"])

LabelEncoder()

In [14]:
data["owner"] = le.transform(data["owner"])

In [15]:
le.fit(data["brand"])

LabelEncoder()

In [16]:
data["brand"] = le.transform(data["brand"])

In [17]:
data.head()

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,0,3.0,110.0,19
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,0,4.0,350.0,17
2,Triumph Daytona 675R,600000.0,Delhi,110.0,0,8.0,675.0,20
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,0,4.0,180.0,19
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,0,3.0,150.0,21

In [18]:
#we won't include 'city' data as there are many differnt cities and brand to contribute to model
y = data["price"]
x = data[[ "kms_driven", "owner", "age", "power"]]

In [19]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

In [20]:
from sklearn import linear_model
linreg = linear_model.LinearRegression()
linreg.fit(X_train, y_train)

LinearRegression()

In [21]:
predictions = linreg.predict(X_test)

In [22]:
linreg.score(X_test,y_test)

0.7921981355042471

In [23]:
import pickle

In [24]:
with open('trained_model.pkl', 'wb') as f:
    pickle.dump(linreg, f)

In [25]:
with open('trained_model.pkl', 'rb') as f:
    clf_loaded = pickle.load(f)

In [26]:
model = pickle.load(open('trained_model.pkl','rb'))